body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #1b1b4d;
}

h1 {
    text-align: center;
    color: #eeeded;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(248, 245, 245, 0.897);
    width: 300px;
    margin: 0 auto;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #f7f6f8;
}

th, td {
    padding: 10px;
    text-align: center;
    color: white;
}

a{
    color: white;
}

a {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: #f4f3f5;
}